*, *::before, *::after{
	box-sizing: border-box;
}


.cf:before,
.cf:after {
content: " ";
display: table;
}

.cf:after {
clear: both;
}

.flex{
    display: flex;
}

body{
    font-size: 100%;
    font-family: 'bely', serif;
    color: #2c3c3f;
}

/* Hamburger Menu */
.hamburger{
    padding: 0;
    width: 40px;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.7s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: none;
    margin: 0;
    overflow: visible;
}
.hamburger:hover{
    opacity: 0.7;
}
.hamburger.is-active:hover {
    opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #2c3c3f;
}
.hamburger-box{
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}
.hamburger-inner{
    display: block;
    top: 50%;
    margin-top: -2px; 
}
.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after{
    width: 40px;
    height: 4px;
    background-color: #2c3c3f;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.7s;
    transition-timing-function: ease;
}
.hamburger-inner::before, 
.hamburger-inner::after{
    content: "";
    display: block;
}
.hamburger-inner::before{
    top: -10px;
} 
.hamburger-inner::after{
    bottom: -10px;
}
  
  
  /* Squeeze */
.hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}   
.hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
   


  
h1{
    font-family: 'bely-display', 'sans-serif';
    font-weight: 400;
    font-style: normal;
    color: #f55612;
}
h2{
    background-color: #f55612;
    text-align: center;
}
img{
    width: 100%
}
header.top_nav{
    padding: 10px;
}

header.top_nav a[href="index.html"] {
    width: 60%;
}
header.top_nav h2{
    width: 110px;
    height: 25px;
}
header.top_nav h2 a{
    font-family: 'novel-mono-pro', 'sans-serif';
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    line-height: 1.5625rem;
    color: white;
}

div.nav_bar{
    position: absolute;
    right: 10px;
    flex-direction: column;
    justify-content: space-between;
}

button.hamburger{
    position: absolute;
    top: 65px;
    right: 10px;
}

nav{
    background-color: #598589;
}
#main_nav ul li{
    text-align: center;
    width: 100%;
    border: 1px solid white;
}
#main_nav ul li a{
    font-family: 'novel-mono-pro', 'sans-serif';
    font-weight: 400;
    font-style: normal;
    line-height: 2.125rem;
    text-decoration: none;
	color: white;
}

#main_nav ul li a:hover{
	background-color: #FEC39C;
	text-decoration: none; 
}




/* toggle styles */
.no-js .hamburger{
    display: none;
}

.js .hamburger{
    margin-bottom: 0;
}

.js .top_nav .hamburger a{
    width: 100%;
    text-align: center;
    color: white;
    display: block;
    padding: .5em;
}

.js nav[role=navigation]{
    overflow: hidden;
    max-height: 0;
    transition: all 1s;
}

.js nav[role=navigation].is-active{
    max-height: 30em;
}


/* Main Styles */


/* Hero */

section.hero{
    text-align: center;
    padding-bottom: 30px;
}

section.hero h1{
    font-size: 1.75rem;
}

section.hero p{
    font-size: 0.8125rem;
    line-height: 0.875rem;
}

section.hero :nth-child(2){
    width: 90%;
    margin: 0 auto;
}

section.hero .date{
    font-size: 1rem;
    font-weight: bold;
    padding: 20px 0 10px 0;
}

section.hero h2{
    width: 98px;
    height: 20px;
    margin: 0 auto;
}
section.hero h2 a{
    font-family: 'novel-mono-pro', 'sans-serif';
    font-weight: 600;
    font-style: normal;
    font-size: 0.875rem;
    text-decoration: none;
    line-height: 1.25rem;
    color: white;
}

/* About Exhibit */

.dhome figure.about_exhibit .wrap{
    float: right;
	shape-outside: polygon(44% 19%, 73% 0, 100% 0, 100% 100%, 72% 100%, 58% 80%, 49% 65%, 40% 44%);
}

.dhome figure.about_exhibit{
    /* background-image: url(../images/about_exhibit_home.jpg);
    background-repeat: no-repeat;
    background-size: 100%; */
    text-align: left;
    padding: 0 0 30px 10px;
}

figure.about_exhibit h1{
    font-size: 1.45rem;
    padding-bottom: 5px;
}
figure.about_exhibit figcaption{
    font-size: .65rem;
}


section.exhibit_details figure{
    width: 49%;
    padding: 3px;
}

figure.exhibit_details_text{
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}

/* Exhibit Details */

section.exhibit_details figure h1{
    font-size: 1.25rem;
    padding-bottom: 5px;
}
section.exhibit_details :last-child h3{
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 0.75rem;
}
section.exhibit_details :last-child p{
    font-size: 0.65rem;
    line-height: 0.75rem;
    padding-bottom: 0.75rem;
}
section.exhibit_details h2{
    width: 80px;
    height: 20px;
}
section.exhibit_details h2 a{
    font-family: 'novel-mono-pro', 'sans-serif';
    font-weight: 600;
    font-style: normal;
    font-size: 0.875rem;
    text-decoration: none;
    line-height: 1.25rem;
    color: white;
}

/* Purchase Tickets */

section.purchase_tickets{
    background-image: url(../images/purchase_tickets_home.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 300px;
    text-align: center;
    color: white;
}
section.purchase_tickets h1{
    text-align: center;
    font-size: 2rem;
    padding: 18px 0 40px 0;
}
section.purchase_tickets figure.pricing{
    background-color: rgba(87, 135, 144, .61);
    min-height: 65px;
    font-family: 'Novel Mono Pro';
    width: 80%;
    padding: 9px 12px;
    margin: 0 auto;
}
section.purchase_tickets h3{
    font-size: 13.25px;
}
section.purchase_tickets p{
    font-size: 8px;
    text-align: left;
    padding: 3px 0;
}
section.purchase_tickets h2{
    margin-top: 7px;
    width: 83px;
    height: 20px;
}
section.purchase_tickets h2 a{
    font-family: 'novel-mono-pro', 'sans-serif';
    font-weight: 600;
    font-style: normal;
    font-size: 0.75rem;
    text-decoration: none;
    line-height: 1.25rem;
    color: white;
}

section.faq h1 {
    font-size: 2rem;
    line-height: 2.25rem;
    text-align: center;
    padding: 10px 0 18px;
}
.accordin_item {
    font-family: bely, serif;
    font-weight: 400;
    font-style: italic;
    background-color: #598589;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: white solid 1px;
}
.active, .accordin_item:hover {
    font-family: 'Bely Italic';
    font-weight: bold;
    background-image: url(../images/faq_hover.jpg);
    background-size: cover;
}
  
.accordin_body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}


figure.email_questions {
    text-align: center;
    padding-bottom: 25px;
}
figure.email_questions h1 {
    font-size: 1.125rem;
    line-height: 1.875rem;
    padding: 0;
}
figure.email_questions p {
  font-size: .875rem;
}
figure.email_questions a {
  font-weight: bold;
  text-decoration: none;
  color: #2c3c3f;
}
figure.email_questions a:hover {
  color: #f55612;
}


section.about_artist {
    background-image: url(../images/about_artist_home.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 120px;
    padding: 55px;
}
h2.about_artist_button {
    width: 180px;
    height: 20px;
    margin: 0 auto;
}
h2.about_artist_button a{
    font-family: 'novel-mono-pro', 'sans-serif';
    font-weight: 600;
    font-style: normal;
    font-size: 0.875rem;
    text-decoration: none;
    line-height: 1.25rem;
    color: white;
}

footer{
    background-color:#598589;
    padding: 5px 10px;
}
footer section.flex {
    flex-direction: column;
}
footer figure{
    padding: 0 10px;
}
footer img {
    min-width: 110px;
    padding: 35px 0 0;
}
footer h1{
    font-size: 13px;
    line-height: 10px;
}
footer figcaption a {
    font-size: 9px;
    font-weight: bold;
    line-height: 15px;
    text-decoration: none;
    color: white;
}
footer a {
    font-size: 15px;
    line-height: 20px;
    color: white;
}
footer p{
    font-size: 10px;
    font-weight: bold;
    color: white;
    padding-bottom: 10px;
}
footer a:hover {
    color:royalblue;
}

/* Form */

form.emailform input[placeholder="YOUR EMAIL"]{
    font-size: 0.675rem;
    color: #000000;
    font-family: 'Antonio', sans-serif;
    height: 22px;
    border: none;
    width: 100px;
    padding-left: 8px;

}

form.emailform input[value="SIGN ME UP"] {
    color: white;
    background: none;
    border: none;
    font-family: 'novel-mono-pro', 'sans-serif';
    font-weight: 600;
    font-style: normal;
    font-size: 0.75rem;
    width: 80px;
}




div.copyright {
    text-align: center;
    font-size: 7px;
    font-weight: bold;
    line-height: 16px;
    background-color: grey;
    color: white;
}


/* About Page */

  .dgallery section.hero{
    background-image: url(../images/gallery_page_hero.jpg);
  }
  .dgallery .wrap {  
	float: right;
	shape-outside: polygon(22% 11%, 46% 0, 100% 0, 100% 100%, 63% 100%, 51% 85%, 34% 66%, 22% 41%);
	width: 200px;
	height: 250px;
  }

.dgallery section.hero p{
    padding-bottom: 20px;
}
.dlocations section.hero{
    background-image: url(../images/locations_page_hero.jpg);
}
.dlocations .wrap {  
	float: right;
	shape-outside: polygon(19% 15%, 46% 0, 100% 0, 100% 100%, 63% 100%, 43% 89%, 29% 69%, 19% 46%);
	width: 200px;
	height: 240px;
  }

.dlocations section.hero p{
    padding-bottom: 25px;
}
  


.dabout section.hero,
.dgallery section.hero,
.dlocations section.hero {
    background-repeat: no-repeat;
    background-size: 130%;
    text-align: left;
    padding-left: 10px;
}
.dabout section.hero h1,
.dgallery section.hero h1,
.dlocations section.hero h1 {
    padding-top: 110px;
    padding-bottom: 5px;
}
.dabout section.hero :nth-child(2),
.dgallery section.hero :nth-child(2),
.dlocations section.hero :nth-child(2){
    margin: 0;
}
.dabout section.hero h2,
.dgallery section.hero h2,
.dlocations section.hero h2 {
    margin: 0;
}
.dabout section.hero .wrap {  
	float: right;
	shape-outside: polygon(22% 11%, 46% 0, 100% 0, 100% 100%, 63% 100%, 43% 90%, 33% 68%, 22% 41%);
	width: 200px;
	height: 250px;
  }
  .dabout section.hero{
    background-image: url(../images/about_page_hero.jpg);
  }
  .dabout section.hero p{
    font-size: .65rem;
    padding-bottom: 20px;
}
.dabout .rightwrap {  
	float: left;
	shape-outside: polygon(45% 18%, 35% 0, 0 0, 0 100%, 49% 100%, 61% 91%, 69% 67%, 67% 46%);
	width: 245px;
	height: 180px;
  }
  .dabout .leftwrap {  
	float: right;
	shape-outside: polygon(70% 24%, 73% 0, 100% 0, 100% 100%, 49% 100%, 41% 76%, 33% 49%, 56% 37%);
	width: 250px;
	height: 210px;
  }
body.dabout main figure.right_align{
    background-image: url(../images/about_page_right_align.jpg);
    background-repeat: no-repeat;
    background-size: 95%;
    text-align: right;
}
body.dabout main figure.right_align h1{
    font-size: 22px;
    line-height: 20px;
    padding-top: 20px;
}
body.dabout main figure.right_align figcaption{
    font-size: 12px;
    line-height: 15px;
    padding-top: 10px;
}
body.dabout main figure.left_align{
    background-image: url(../images/about_page_left_align.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
body.dabout main figure.left_align{
    text-align: left;
}
body.dabout main figure.left_align h1{
    font-size: 20px;
    line-height: 25px;
    padding-top: 20px;
}
body.dabout main figure.left_align figcaption{
    font-size: 13px;
    line-height: 15px;
    padding-top: 15px;
}


/* Gallery Page */
section.collapsing_gallery{
    flex-direction: column;
}
section.collapsing_gallery div.flex {
    flex-wrap: wrap;
}
section.collapsing_gallery div.flex img{
    width: 50%;
}
section.collapsing_gallery2{
    flex-direction: row;
}
section.collapsing_gallery2 img{
    width: 50%;
}
section.collapsing_gallery2 div.flex img{
    width: 100%;
}
section.collapsing_gallery2 div.flex {
    justify-content: space-between;
    flex-direction: column;
}


  /* Locations Page */
main.locations_list{
      padding: 5px 5px 25px;
  }
  main.dlocations section.left-align h1,
  main.dlocations section.left-align h2,
  main.dlocations section.right-align h1,
  main.dlocations section.right-align h2  {
      font-size: 32px;
  }
  main.dlocations section.left-align h3,
  main.dlocations section.left-align h3,
  main.dlocations section.right-align h3,
  main.dlocations section.right-align h3 {
      font-size: 18px;
      line-height: 20px;
      font-weight: bold;
      padding-top: 10px;
  }
  main.dlocations section.left-align h4 a,
  main.dlocations section.left-align h4 a,
  main.dlocations section.right-align h4 a,
  main.dlocations section.right-align h4 a {
      font-size: 15px;
      line-height: 17px;
      font-family: 'bely', 'serif';
      font-weight: 700;
      font-style: normal;
      text-decoration: none;
      color:#598589;
  }
  main.dlocations section.left-align p,
  main.dlocations section.left-align p,
  main.dlocations section.right-align p,
  main.dlocations section.right-align p {
      font-size: 15px;
      line-height: 16px;
      font-family: 'bely', 'serif';
      font-weight: 400;
      font-style: normal;
  }
  
  main.dlocations section.right-align {
      text-align: right;
      padding: 10px 0;
  }







/* Font Family */

/* 
Bely
font-family: bely, serif;

Regular
font-family: bely, serif;
font-weight: 400;
font-style: normal;

Italic
font-family: bely, serif;
font-weight: 400;
font-style: italic;

Bold
font-family: bely, serif;
font-weight: 700;
font-style: normal;

Bold Italic
font-family: bely, serif;
font-weight: 700;
font-style: italic;


Bely Display
font-family: bely-display, sans-serif;
font-weight: 400;
font-style: normal;



Novel Mono Pro Bold
font-family: novel-mono-pro, sans-serif;
font-weight: 700;
font-style: normal;


Novel Mono Pro Bold It
font-family: novel-mono-pro, sans-serif;
font-weight: 700;
font-style: italic;


Novel Mono Pro Regular
font-family: novel-mono-pro, sans-serif;
font-weight: 400;
font-style: normal;


Novel Mono Pro Regular Italic
font-family: novel-mono-pro, sans-serif;
font-weight: 400;
font-style: italic;

 */

